
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.heading{
  position: relative;
  text-align: right;
  margin-right: 25%;
}

.author {  
  margin-left: 24px;
  font-size: 14px;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.app-container {
  padding: 20px;
}

.articles-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.article {
  position: relative;
  display: flex;
  align-items: center;
}

.article img {
  width: 30%; /* Make images fill the container */
  height: auto;
}

.thumbs-up {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px; 
}

.thumbs-up-icon {
  width: 100%; 
  height: 100%; 
}